<!DOCTYPE html>
<html lang="es">

	<head>
		<title>ALLMusic</title>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
		<div th:replace="../fragments/head.html :: head" th:remove="tag"/>
	</head>

	<body>
		<!-- NAVEGADOR -->
		<nav th:replace="../fragments/nav.html :: nav"></nav>
		
		<!-- SECTION -->
		<section class="container my-5">
			
			<h1>¡Bienvenido a ALLMusic!</h1>
			<br><br>
			<div class="row">
				<h2 class="col-lg-11 col-md-10 col-9">Últimos artistas</h2>
				<a class="col-lg-1 col-md-2 col-3 float-right" th:href="@{/artistas}">Ver más</a>
			</div>
			
			<br>
			<div class="row">
				<div class="card col-lg-2 col-md-4 col-6 border-0" th:each="artista : ${ultimosArtistas}">
					<a th:href="@{/artistas/{artista}(artista=${artista.id})}"><img class="card-img-top" th:src="@{${artista.fotoPath}}" th:alt="${artista.nombre}"></a>
				  	<div class="card-body">
				    	<h5 class="card-title"><a th:href="@{/artistas/{artista}(artista=${artista.id})}"><span th:text="${artista.nombre}"></span></a></h5>
				 	</div>
				</div>
			</div>
			<br>
			
			<div class="row">
				<h2 class="col-lg-11 col-md-10 col-9">Álbumes recientes</h2>
				<a class="col-lg-1 col-md-2 col-3 float-right" th:href="@{/albumes}">Ver más</a>
			</div>
			<br>
			<div class="row">
				<div class="card col-lg-2 col-md-4 col-6 border-0" th:each="album : ${ultimosAlbumes}">
					<a th:href="@{/albumes/{album}(album=${album.id})}"><img class="card-img-top" th:src="@{${album.portadaPath}}" th:alt="${album.titulo}"></a>
				  	<div class="card-body">
				    	<h5 class="card-title"><a th:href="@{/albumes/{album}(album=${album.id})}"><span th:text="${album.titulo}"></span></a></h5>
				    	<p class="card-text"><a th:href="@{/artistas/{artista}(artista=${album.artista.id})}"><span th:text="${album.artista.nombre}"></span></a></p>
				 	</div>
				 	<div class="card-footer">
				 		<small th:text="${album.fecha_salida}"></small>
				 	</div>
				</div>
			</div>
			<br>

			<div sec:authorize="isAuthenticated()">			
				<h2 >Últimas playlists</h2>
				 <ul class="list-group list-group-flush">
					<li th:each="playlist : ${ultimasPlaylists}" class="list-group-item"><a th:href="@{/playlists/{id}(id=${playlist.id})}" th:text="${playlist.nombre}"></a></li>
				</ul>
			</div>
			
		</section>
		
		<!-- FOOTER -->
		<footer th:replace="../fragments/footer.html :: footer"></footer>
		
	</body>
</html>
