<!DOCTYPE html>
<html lang="es">

	<head>
		<title>ALLMusic - Álbumes</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <div th:replace="../fragments/head.html :: head" th:remove="tag"/>
		
		<style>
			#tablaAlbumes thead, #tablaAlbumes td, #tablaAlbumes tfoot {
				color: white;
			}
		</style>
	</head>

	<body>
		<!-- NAVEGADOR -->
		<nav th:replace="../fragments/nav.html :: nav"></nav>

		<!-- SECTION -->
		<section class="container my-5">
			<div class="row">
				<h2 class="col-12">Lista de álbumes</h2>
			</div>	
			<div th:if="${not #lists.isEmpty(albumes)}" th:remove="tag">
				<table id="tablaAlbumes" class="table table-hover">
					<thead>
						<tr>
							<th>Título</th>
							<th>Fecha</th>
							<th>Artista</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="album : ${albumes}">
							<td><a th:href="@{/albumes/{album}(album=${album.id})}"><span th:text="${album.titulo}">titulo></span></a></td>
							<td th:text="${album.fecha_salida}">fecha salida</td>
							<td><a th:href="@{/artistas/{artista}(artista=${album.artista.id})}"><span th:text="${album.artista.nombre}">artista></span></a></td>
						</tr>
					</tbody>
					<tfoot>
			            <tr>
			                <th>Título</th>
							<th>Fecha</th>
							<th>Artista</th>
			            </tr>
			        </tfoot>
				</table>
			</div>
			
			<div th:if="${#lists.isEmpty(albumes)}" th:remove="tag">
				<h4 class="mt-5">No hay álbumes creados.</h4>
			</div>
		</section>
		
		<!-- FOOTER -->
		<footer th:replace="../fragments/footer.html :: footer"></footer>
		
	</body>
	
	<script>
		$(document).ready(function() {
		    $('#tablaAlbumes').DataTable();
		} );
	</script>
	
</html>
