<!DOCTYPE html>
<html lang="es">

	<head>
		<title>ALLMusic - Álbumes - <span th:text="${album.titulo}" th:remove="tag"></span></title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <!-- Icono -->
	    <link rel="icon" th:href="@{/img/icon.png}">
			
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
			
		<!-- Bootstrap jQuery, Popper.js, Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		
		<!-- CSS y JS -->
		<link rel="stylesheet" th:href="@{/css/estilo.css}" type="text/css"/>
		<script>
			$(function() {
	    		
				$('#submit_button').attr('disabled', true);
	    		
	    		$("#numero").blur(function(){
	    		    if( !$(this).val() || !$('#titulo').val() || !$('#duracion').val() ) {					//if it is blank. 
	    		    	$('#submit_button').attr('disabled', true);							// boton submit disabled
	    		    } else {
	    		    	$('#submit_button').attr('disabled', false);
	    		    }
	    		});
	    		
	    		$("#titulo").blur(function(){
	    		    if( !$(this).val() || !$('#numero').val() || !$('#duracion').val() ) {					//if it is blank. 
	    		    	$('#submit_button').attr('disabled', true);							// boton submit disabled
	    		    } else {
	    		    	$('#submit_button').attr('disabled', false);
	    		    }
	    		});
	    		
	    		$("#duracion").blur(function(){
	    		    if( !$(this).val() || !$('#numero').val() || !$('#titulo').val() ) {					//if it is blank. 
	    		    	$('#submit_button').attr('disabled', true);							// boton submit disabled
	    		    } else {
	    		    	$('#submit_button').attr('disabled', false);
	    		    }
	    		});
	    		
	    	});
		</script>
	</head>

	<body>
		<!-- NAVEGADOR -->
		<nav th:replace="../fragments/nav.html :: nav"></nav>

		<!-- SECTION -->
		<section class="container mt-5">
			<div class="row mb-5">
				<img class="col-3" th:src="${album.portada}" th:alt="${album.titulo}">
				<div class="col-9 row align-items-center">
					<p class="col-9 font-weight-bold">Álbum</p>
					<div class="col-3">
						<div th:if="(${#authorization.expression('hasAuthority(''ADMIN'')')})">
							<button type="button" class="btn btn-secondary float-right" data-toggle="modal" data-target="#crearCancion">Nueva canción</button>
						</div>
					</div>
					<h1 class="col-12"><span th:text="${album.titulo}"></span></h1>
					<p class="col-12">De <a th:href="@{/artistas/{id}(id=${album.artista.id})}" th:text="${album.artista.nombre}"></a></p>
					<p class="col-12"><span th:text="${album.fecha_salida}"></span></p>
					<p class="col-12"><span th:text="${numero_canciones}"></span> canciones</p>
				</div>
			</div>	
			
			<!--  CANCIONES  -->
			<div class="mb-5"> 
				<table class="table table-hover ">
					<thead>
						<tr>
							<th>No.º</th>
							<th>Título</th>
							<th>Duración</th>
							<th sec:authorize="isAuthenticated()"></th>
						</tr>
					<thead>
					<tbody>
						<tr th:each="cancion : ${canciones}">
							<td th:text="${cancion.numero}">numero</td>
							<td th:text="${cancion.titulo}">titulo</td>
							<td th:text="${cancion.duracion}">duracion</td>
							<td sec:authorize="isAuthenticated()"><a type="button" class="btn btn-secondary btn-sm" th:href="@{/playlists/nuevaCancionPlaylist/{cancion}(cancion=${cancion.id})}">Add</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="row">
				<h3 class="col-12"> Más albumes del artista</h3>
				<br><br><br>
				<div class="card col-2 border-0" th:each="album : ${listaAlbumes}">
					<a th:href="@{/albumes/{album}(album=${album.id})}"><img class="card-img-top" th:src="${album.portada}" th:alt="${album.titulo}"></a>
				  	<div class="card-body">
				    	<h5 class="card-title"><a th:href="@{/albumes/{album}(album=${album.id})}"><span th:text="${album.titulo}"></span></a></h5>
				    	<p th:text="${album.fecha_salida}" class="card-text"></p>
				 	</div>
				</div>
			</div>
		</section>
		
		<!-- Modal -->
		<div class="modal fade" id="crearCancion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content" style="background-color: #282828;">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Nueva canción</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white;">
							<span aria-hidden="true">x</span>
						</button>
					</div>
					<form action="#" th:action="@{/addCancion}" th:object="${cancion}" method="post">
						<div class="modal-body">
							
							<div class="form-group">
								<label for="numero">Número</label>
								<input type="number" th:field="*{numero}" class="form-control" id="numero">
							</div>
							
							<div class="form-group">
								<label for="titulo">Título</label>
								<input type="text" th:field="*{titulo}" class="form-control" id="titulo">
							</div>
							
							<div class="form-group">
								<label for="duracion">Duración</label>
								<input type="text" th:field="*{duracion}" class="form-control" id="duracion">
							</div>
							
							<div class="form-group" hidden>
								<label for="album">Álbum</label>
								<input type="text" th:value="${album.id}" name="album" id="album"/>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary" id="submit_button">Guardar</button>
						  	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</body>
</html>
