<!DOCTYPE html>
<html lang="es">

	<head>
		<title>ALLMusic - <span th:if="${album != null}" th:text="${album.titulo}" th:remove="tag"></span> by <span th:if="${album != null}" th:text="${album.artista.nombre}" th:remove="tag"></span></title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <!-- Icono -->
	    <link rel="icon" th:href="@{/img/icon.png}">
			
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
			
		<!-- Bootstrap jQuery, Popper.js, Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		
		<!-- ICONOS FONT AWESOME -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css" integrity="sha512-f73UKwzP1Oia45eqHpHwzJtFLpvULbhVpEJfaWczo/ZCV5NWSnK4vLDnjTaMps28ocZ05RbI83k2RlQH92zy7A==" crossorigin="anonymous" />
	    
		<!-- CSS y JS -->
		<link rel="stylesheet" th:href="@{/css/estilo.css}" type="text/css"/>
		<style>
			#cambiarFoto {
				position:absolute;
				left: -90px;
				top: -10px;
			}
			
			#containerImagen .image {
				transition: .5s ease;
				backface-visibility: hidden;
				opacity: 1;
				
			}
			
			.middle {
				transition: .5s ease;
				opacity: 0;
				position: absolute;
				top: 50%;
				left: 30%;
				transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				text-align: center;
			}
						
			#containerImagen:hover .image{
 				opacity: 0.3;
			}
			
			#containerImagen:hover .middle {
 				opacity: 1;
 				left:50%;
			}
			
			.red-icon{
				color: #dc3545;
			}
			
			.red-icon:hover {
				color: #a71d2a;
			}
		</style>
		<script>
			$(function() {
	    		
				$('#submit_button').attr('disabled', true);
	    		
	    		$("#numero").blur(function(){
	    		    if( !$(this).val() || !$('#titulo').val() || !$('#duracion').val() ) {					//if it is blank. 
	    		    	$('#submit_button').attr('disabled', true);							// boton submit disabled
	    		    } else {
	    		    	$('#submit_button').attr('disabled', false);
	    		    }
	    		});
	    		
	    		$("#titulo").blur(function(){
	    		    if( !$(this).val() || !$('#numero').val() || !$('#duracion').val() ) {					//if it is blank. 
	    		    	$('#submit_button').attr('disabled', true);							// boton submit disabled
	    		    } else {
	    		    	$('#submit_button').attr('disabled', false);
	    		    }
	    		});
	    		
	    		$("#duracion").blur(function(){
	    		    if( !$(this).val() || !$('#numero').val() || !$('#titulo').val() ) {					//if it is blank. 
	    		    	$('#submit_button').attr('disabled', true);							// boton submit disabled
	    		    } else {
	    		    	$('#submit_button').attr('disabled', false);
	    		    }
	    		});
	    		
	    	});
		</script>
	</head>

	<body>
		<!-- NAVEGADOR -->
		<nav th:replace="../fragments/nav.html :: nav"></nav>

		<div th:if="${album == null}" th:remove="tag">
			<!-- SECTION -->
			<section class="container my-5">
				<h2>Este álbum no existe.</h2>
			</section>
		</div>
		
		<div th:if="${album != null}" th:remove="tag">
			<!-- SECTION -->
			<section class="container mt-5">
				<div class="row">
					<div id="containerImagen" class="col-lg-3 col-md-5 col-12">
						<div th:if="(${#authorization.expression('hasAuthority(''ADMIN'')')})">
							<img class="col-lg-12 col-md-12 col-12 image" th:src="@{${album.portadaPath}}" th:alt="${album.titulo}">
							<a type="button" class="middle" data-toggle="modal" data-target="#cambiarPortada">Cambiar portada</a>
						</div>
						<div th:if="(!${#authorization.expression('hasAuthority(''ADMIN'')')})">
							<img class="col-lg-12 col-md-12 col-12" th:src="@{${album.portadaPath}}" th:alt="${album.titulo}">
						</div>
					</div>
					<div class="col-lg-9 col-md-7 col-12 mt-lg-0 mt-sm-0 mt-5">
						<div class="row mb-5">
							<div class="col-lg-12 col-md-12 col-12">
								<div class="row ">
									<div th:if="${T(com.carlos.enums.TipoAlbumModel).SINGLE == album.tipo_album and numero_canciones <= 3}" class="col-lg-12 col-md-2 col-12 font-weight-bold"	>
										<small >SENCILLO</small>
									</div>
									<div th:if="${T(com.carlos.enums.TipoAlbumModel).SINGLE == album.tipo_album and numero_canciones > 3}"class="col-lg-12 col-md-12 col-12 font-weight-bold">
										<small >EP</small>
									</div>
									<div th:if="${T(com.carlos.enums.TipoAlbumModel).ALBUM == album.tipo_album}"  class="col-lg-12 col-md-12 col-12 font-weight-bold">
										<small>ÁLBUM</small>
									</div>
	
									<h1 class="col-lg-12 col-md-12 col-12 mt-lg-0 mt-sm-0 mt-4"><span th:text="${album.titulo}"></span></h1>
									<p class="col-lg-12 col-md-12 col-12">De <a th:href="@{/artistas/{id}(id=${album.artista.id})}" th:text="${album.artista.nombre}"></a></p>
									<p class="col-lg-12 col-md-12 col-12"><span th:text="${album.fecha_salida}">fecha</span></p>
									<p class="col-lg-9 col-md-6 col-6"><span th:text="${numero_canciones}"></span> canciones</p>
									
									<div class="col-lg-1 col-md-2 col-2" th:if="(${#authorization.expression('hasAuthority(''ADMIN'')')})">
										<button type="button" class="btn btn-info" data-toggle="modal" data-target="#editarAlbum"><i class="far fa-edit"></i></button>
									</div>
									<div class="col-lg-1 col-md-2 col-2" th:if="(${#authorization.expression('hasAuthority(''ADMIN'')')})">
										<button type="button" class="btn btn-info" data-toggle="modal" data-target="#crearCancion"><i class="fas fa-plus"></i></button>
									</div>
									<div class="col-lg-1 col-md-2 col-2" th:if="(${#authorization.expression('hasAuthority(''ADMIN'')')})">
										<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#borrarAlbum"><i class="far fa-trash-alt"></i></button>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				
				<!--  CANCIONES  -->
				<div class="mb-5">
					<table class="table table-hover">
						<thead>
							<tr>
								<th style="width: 5%">No.º</th>
								<th style="width: 70%">TÍTULO</th>
								<th style="width: 15%" class="d-lg-table-cell d-md-table-cell d-none">DURACIÓN</th>
								<th style="width: 2%" sec:authorize="isAuthenticated()"></th>
								<th style="width: 3%" sec:authorize="isAuthenticated()" th:if="${usuario.rol.nombre == 'ADMIN'}"></th>
								<th style="width: 5%" sec:authorize="isAuthenticated()" th:if="${usuario.rol.nombre == 'ADMIN'}"></th>
							</tr>
						<thead>
						<tbody>
							<tr th:each="cancion : ${canciones}">
								<td th:text="${cancion.numero}">numero</td>
								<td th:text="${cancion.titulo}">titulo</td>
								<td th:text="${cancion.duracion}" class="d-lg-table-cell d-md-table-cell d-none">duracion</td>
								<td sec:authorize="isAuthenticated()"><a type="button" th:href="@{/playlists/nuevaCancionPlaylist/{cancion}(cancion=${cancion.id})}"><i class="fas fa-plus"></i></a></td>
								<td sec:authorize="isAuthenticated()" th:if="${usuario.rol.nombre == 'ADMIN'}"><a th:href="@{/cancion/editar/{cancion}(cancion=${cancion.id})}"><i class="far fa-edit"></i></a></td>
								<td sec:authorize="isAuthenticated()" th:if="${usuario.rol.nombre == 'ADMIN'}"><a th:href="@{/cancion/borrar/{cancion}(cancion=${cancion.id})}"><i class="far fa-trash-alt red-icon"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="row">
					<h3 class="col-lg-12"> Más álbumes del artista</h3>
					<br><br><br>
					<div class="card col-lg-2 col-md-4 col-6 border-0" th:each="album : ${listaAlbumes}">
						<a th:href="@{/albumes/{album}(album=${album.id})}"><img class="card-img-top" th:src="@{${album.portadaPath}}" th:alt="${album.titulo}"></a>
					  	<div class="card-body">
					    	<h5 class="card-title"><a th:href="@{/albumes/{album}(album=${album.id})}"><span th:text="${album.titulo}"></span></a></h5>
					    	<p th:text="${album.fecha_salida}" class="card-text"></p>
					    	<p th:text="${album.tipo_album}" class="text-muted"></p>
					 	</div>
					</div>
				</div>
			</section>
			
			<!-- Modal - NUEVA CANCIÓN -->
			<div class="modal fade" id="crearCancion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content" style="background-color: #282828;">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Nueva canción</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white;">
								<span aria-hidden="true">x</span>
							</button>
						</div>
						<form action="#" th:action="@{/addCancion}" th:object="${cancion}" method="post">
							<div class="modal-body">
								
								<div class="form-group">
									<label for="numero">Número</label>
									<input type="number" th:field="*{numero}" class="form-control" id="numero" placeholder="1">
								</div>
								
								<div class="form-group">
									<label for="titulo">Título</label>
									<input type="text" th:field="*{titulo}" class="form-control" id="titulo" placeholder="Título">
								</div>
								
								<div class="form-group">
									<label for="duracion">Duración</label>
									<input type="text" th:field="*{duracion}" class="form-control" id="duracion" placeholder ="xx:xx">
								</div>
								
								<div class="form-group" hidden>
									<label for="album">Álbum</label>
									<input type="text" th:value="${album.id}" name="album" id="album"/>
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary" id="submit_button">Guardar</button>
							  	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<!-- Modal - EDITAR ÁLBUM -->
			<div class="modal fade" id="editarAlbum" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content" style="background-color: #282828;">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Editar álbum</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white;">
								<span aria-hidden="true">x</span>
							</button>
						</div>
						<form action="#" th:action="@{/updateAlbum}" th:object="${album}" method="post" enctype="multipart/form-data">
							<div class="modal-body">
								<div class="form-group">
									<label for="titulo">Título</label>
									<input type="text" th:field="*{titulo}" class="form-control" id="titulo">
								</div>
								<div class="form-group">
								    <label for="fecha_salida" class="font-weight-bold">Fecha salida</label>
									<input type="text" th:field="*{fecha_salida}" class="form-control" id="fecha_salida">
							    </div>
							    <div class="form-group d-none">
									<label for="id">Id</label>
									<input type="text" th:field="*{id}" class="form-control" id="id">
								</div>
							    <div class="form-group d-none">
								    <label for="artista" class="font-weight-bold">Artista</label>
									<input type="text" th:field="*{artista}" class="form-control" id="artista">
							    </div>
							    <div class="form-group d-none">
								    <label for="portadaAlbum" class="font-weight-bold">Portada</label>
									<input type="text" th:field="*{portada}" class="form-control" id="portadaAlbum">
							    </div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary" id="submit_button">Guardar</button>
							  	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<!-- Modal - CAMBIAR PORTADA -->
			<div class="modal fade" id="cambiarPortada" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content" style="background-color: #282828;">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Cambiar portada</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white;">
								<span aria-hidden="true">x</span>
							</button>
						</div>
						<form action="#" th:action="@{/updatePortadaAlbum}" th:object="${album}" method="post" enctype="multipart/form-data">
							<div class="modal-body">
								<div class="form-group">
									<label for="portada">Portada</label>
									<input type="file" th:field="*{portada}" class="form-control-file" id="portada" accept="image/png, image/jpeg">
									<small>Portada actual:</small>
								</div>
								 <div class="form-group d-none">
									<label for="id">Id</label>
									<input type="text" th:field="*{id}" class="form-control" id="id">
								</div>
								<div class="form-group d-none">
									<label for="titulo">Título</label>
									<input type="text" th:field="*{titulo}" class="form-control" id="titulo">
								</div>
								<div class="form-group d-none">
								    <label for="fecha_salida" class="font-weight-bold">Fecha salida</label>
									<input type="text" th:field="*{fecha_salida}" class="form-control" id="fecha_salida">
							    </div>
							    <div class="form-group d-none">
								    <label for="artista" class="font-weight-bold">Artista</label>
									<input type="text" th:field="*{artista}" class="form-control" id="artista">
							    </div>
								<img id="portadaThumbnail" alt="Vista previa foto" th:src="*{portadaPath}" width="300"/>
								
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary" id="submit_button">Guardar</button>
							  	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<!-- Modal - BORRAR ÁLBUM -->
			<div class="modal fade" id="borrarAlbum" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content" style="background-color: #282828;">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">¿Seguro que quieres borrar el álbum <span th:text="${album.titulo}"></span>?</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white;">
								<span aria-hidden="true">x</span>
							</button>
						</div>
						<div class="modal-body">
							<p>Si borras el álbum, también se borrarán sus canciones. ¡No hay vuelta atras!</p>
						</div>
						<div class="modal-footer">
							<a type="button" class="btn btn-danger" th:href="@{/album/borrar/{album}(album=${album.id})}">BORRAR</a>
						  	<button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script>
			$(document).ready(function(){
				// Muestra vista previa de foto en el formulario
				$('#portada').change(function() {
					showImageThumbnail2(this);
				});
			});
			
			function showImageThumbnail2(fileInput) {
				file = fileInput.files[0];
				reader = new FileReader();
				
				reader.onload = function(e) {
					$('#portadaThumbnail').attr('src', e.target.result);
					$('#portadaThumbnail').attr('width', 200);
				};
				
				reader.readAsDataURL(file);
			};
		</script>
	</body>
</html>
