<!DOCTYPE html>
<html lang="es">

	<head>
		<title>ALLMusic - Artistas</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
		<div th:replace="../fragments/head.html :: head" th:remove="tag"/>
	</head>

	<body>
		<!-- NAVEGADOR -->
		<nav th:replace="../fragments/nav.html :: nav"></nav>

		<!-- SECTION -->
		<section class="container my-5">
			<div class="row">
				<h2 class="col-lg-7 col-md-6 col-8">Lista de artistas</h2>
				<div sec:authorize="isAuthenticated()" th:remove="tag">
					<div th:switch="${#authorization.expression('hasAuthority(''ADMIN'')')}" th:remove="tag">
						<div th:case="true" th:remove="tag">
							<div class="col-lg-1 col-md-1 col-4">
								<a type="button" class="btn btn-primary float-right" th:href="@{/nuevoArtista}"><i class="fas fa-plus"></i></a>
							</div>
							<div class="col-lg-4 col-md-5 col-12">
								<form th:action="@{/artistas/buscar}" th:object="${busqueda}" method="get" class="form-inline float-md-right float-none">
									<input type="text" th:field="*{nombre}" class="form-control mr-sm-3" placeholder="Buscar...">
									<button type="submit" class="btn btn-outline-primary d-md-block d-none"><i class="fas fa-search"></i></button>
								</form>
							</div>
						</div>
						<div th:case="false" class="col-lg-4 col-md-6 col-12">
							<form th:action="@{/artistas/buscar}" th:object="${busqueda}" method="get" class="form-inline float-md-right float-none">
								<input type="text" th:field="*{nombre}" class="form-control mr-sm-3" placeholder="Buscar...">
								<button type="submit" class="btn btn-outline-success d-md-block d-none"><i class="fas fa-search"></i></button>
							</form>
						</div>
					</div>
				</div>
				<div sec:authorize="!isAuthenticated()" th:remove="tag">
					<div class="col-lg-4 col-md-6 col-12">
						<form th:action="@{/artistas/buscar}" th:object="${busqueda}" method="get" class="form-inline float-md-right float-none">
							<input type="text" th:field="*{nombre}" class="form-control mr-sm-3" placeholder="Buscar...">
							<button type="submit" class="btn btn-outline-success d-md-block d-none"><i class="fas fa-search"></i></button>
						</form>
					</div>
				</div>
			</div>
			
			<div th:if="${not #lists.isEmpty(listaArtistas)}" th:remove="tag">
				<div class="row mt-5">
					<div class="card col-lg-2 col-4 border-0" th:each="artista : ${listaArtistas}">
						<a th:href="@{/artistas/{artista}(artista=${artista.id})}"><img class="card-img-top rounded-circle" th:src="@{${artista.fotoPath}}" th:alt="${artista.nombre}"></a>
					  	<div class="card-body">
					    	<h5 class="card-title"><a th:href="@{/artistas/{artista}(artista=${artista.id})}"><span th:text="${artista.nombre}"></span></a></h5>
					 	</div>
					</div>
				</div>
				
				<!-- PAGINACIÓN -->
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<nav aria-label="Pagination">
							<ul class="pagination justify-content-center">
								<li class="page-item" th:classappend="${prev == 0 ? 'disabled': ''}">
									<a class="page-link" th:href="@{| /artistas/?page=${prev} |}">Anterior</a>
								</li>
						    	<li class="page-item" th:each="page: ${paginas}" th:classappend="${current == page ? 'active': ''}">
						    		<a class="page-link" th:href="@{| /artistas/?page=${page} |}" th:text="${page}"></a>
						    	</li>
						    	<li class="page-item" th:classappend="${current == last ? 'disabled': ''}">
									<a class="page-link" th:href="@{| /artistas/?page=${next} |}">Siguiente</a>
								</li>
						  	</ul>
						</nav>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
			
			<div th:if="${#lists.isEmpty(listaArtistas)}" th:remove="tag">
				<h4 class="mt-5">No hay artistas creados.</h4>
			</div>
		</section>
		
		<!-- FOOTER -->
		<footer th:replace="../fragments/footer.html :: footer"></footer>
		
	</body>
</html>
