<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>ALLMusic - Editar artista</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <!-- Icono -->
	    <link rel="icon" th:href="@{/img/icon.png}">
			
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
			
		<!-- Bootstrap jQuery, Popper.js, Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	
		<!-- CSS y JS -->
		<link rel="stylesheet" th:href="@{/css/estilo.css}" type="text/css"/>
		<script type="text/javascript">
		
			$(function() {
				$('#errorBio').hide();
				$('#errorNombre').hide();
				$('#errorOrigen').hide();
				$('#errorFoto').hide();
	    		
	    		$("input, textarea").blur(function(){
	    			if ( !$("#nombre").val() || $("#origen").val().length<2 || $("#bio").val().length<20 || !$("#foto").val() ) {
	    		    	$('#submit_button').attr('disabled', true);
	    		    } else {
	    		    	$('#submit_button').attr('disabled', false);
	    		    }
	    		});
	    			
	    		
	    		// Validaciones para los campos del formulario desde la vista.
	    		$("#nombre").blur(function(){	
	    			if ( !$("#nombre").val().length ) {
	    				error="El nombre no puede estar vacio.";
	    				$("#errorNombre").show();
	    				$("#errorNombre").text(error);
	    				
	    		
	    			}else {
	    				$("#errorNombre").hide();
	    			}
	    		});
	    		$("#origen").blur(function(){	
	    			if ( $("#origen").val().length<2 ) {
	    				error="El origen no puede ser menor que 2 caracteres.";
	    				$("#errorOrigen").show();
	    				$("#errorOrigen").text(error);
	    				
	    			}else {
	    				$("#errorOrigen").hide();
	    			}
	    		});
	    		$("#bio").blur(function(){
					$("#errorBio").text("Minimo 20 caracteres: " + (20 - $(this).val().length) + "/20");
	    			if ( $("#bio").val().length<20 ) {
	    				$("#errorBio").show();
	    				
	    			}else {
	    				$("#errorBio").hide();
	    			}
	    		});
			});
		</script>
	</head>

	<body>
		<!-- NAVEGADOR -->
		<nav th:replace="../fragments/nav.html :: nav"></nav>
		
		<!-- SECTION -->
		<section class="container mt-5">
		
			<h1>Editar artista</h1>
		
			<form action="#" th:action="@{/updateArtista}" th:object="${artista}" method="post">
			
				<div class="form-group d-none">
				    <label for="id" class="font-weight-bold">Id</label>
				    <input type="text" class="form-control" id="id" th:field="*{id}">
			    </div>
				<div class="row">
				  	<div class="form-group col-6">
					    <label for="nombre" class="font-weight-bold">Nombre</label>
					    <input type="text" class="form-control" id="nombre" th:field="*{nombre}" placeholder="Nombre">
						<small class="form-text text-danger" id="errorNombre"></small>
				    </div>
				   	
					<div class="form-group col-6">
					    <label for="origen" class="font-weight-bold">Origen</label>
					    <input type="text" class="form-control" id="origen" th:field="*{origen}" placeholder="Origen">
					    <small class="form-text text-danger" id="errorOrigen"></small>
				    </div>
			    </div>
			    
			    <div class="form-group">
				    <label for="bio" class="font-weight-bold">Biografía</label>
				    <textarea class="form-control" rows="10" id="bio" th:field="*{bio}" placeholder="Biografia"></textarea>
				    <small class="form-text text-danger" id="errorBio"></small>
			    </div>
			    
			    <div class="form-group d-none">
				    <label for="foto" class="font-weight-bold">Foto</label>
				    <input type="text" class="form-control" id="foto" th:field="*{foto}">
			    </div>
			    
			    <div class="form-group d-none">
				    <label for="foto_fondo" class="font-weight-bold">Foto</label>
				    <input type="text" class="form-control" id="foto" th:field="*{foto_fondo}">
			    </div>

			    <div class="form-group">
					<label for="genero" class="font-weight-bold">Género</label>
					<select name="genero" class="form-control" id="genero">
					    <option th:each="gender : ${generos}" th:value="${gender.nombre}" th:text="${gender.nombre}" th:selected="${gender.nombre} == ${artista.genero.nombre}"></option>
					</select>
				</div>
			
			    <input class="btn btn-success" type="submit" value="Enviar" id="submit_button"/>
			    
			</form>
		</section>
		
	</body>
</html>
