<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>ALLMusic - Editar artista</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <!-- Icono -->
	    <link rel="icon" th:href="@{/img/icon.png}">
	
		<!-- CSS -->
		<link rel="stylesheet" th:href="@{/css/estilo.css}" type="text/css"/>
			
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
			
		<!-- Bootstrap jQuery, Popper.js, Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark">
			<a class="navbar-brand" th:href="@{/}"><img th:src="@{/img/logo.png}" width="210"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		    </button>
		    
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		      	<ul class="navbar-nav mr-auto">
		        	<li class="nav-item active">
		        		<a class="nav-link" th:href="@{/}">Inicio <span class="sr-only">(current)</span></a>
		          	</li>
		          	<li class="nav-item">
		           		<a class="nav-link" th:href="@{/artistas}">Artistas</a>
		          	</li>
		          	<li class="nav-item">
		            	<a class="nav-link" href="#">Disabled</a>
		          	</li>
		        </ul>
		        
		        <div class="text-white" sec:authorize="isAnonymous()">
				    <a type="button" class="btn btn-light" th:href="@{/login}">Login</a>
				    <a type="button" class="btn btn-light" th:href="@{/registrarse}">Registrarse</a>
				</div>
		    	
		    	<div class="text-white" sec:authorize="isAuthenticated()">
		    		<a type="button" class="btn btn-info" th:href="@{/usuarios/{usuario}(usuario=${usuario.nombreUsuario})}"><span sec:authentication="name">USUARIO</span></a>
				    <!--  User: <span sec:authentication="name">miquel</span> -->
				    <a type="button" class="btn btn-danger" th:href="@{/logout}">Logout</a>
				</div>
			</div>
		</nav>
		
		<!-- Section -->
		<section class="container mt-5">
		
			<h1>Editar artista</h1>
		
			<form action="#" th:action="@{/updateArtista}" th:object="${artista}" method="post">
			
			  	<div class="form-group">
				    <label for="artist" class="font-weight-bold">Nombre</label>
				    <input type="text" class="form-control" id="artist" th:field="*{nombre}">
				    <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
			    </div>
			    
				<div class="form-group">
				    <label for="origen" class="font-weight-bold">Origen</label>
				    <input type="text" class="form-control" id="origen" th:field="*{origen}">
				    <small class="form-text text-danger" th:if="${#fields.hasErrors('origen')}" th:errors="*{origen}"></small>
			    </div>
			    
			    <div class="form-group">
				    <label for="bio" class="font-weight-bold">Biografía</label>
				    <textarea class="form-control" rows="6" id="bio" th:field="*{bio}"></textarea>
				    <small class="form-text text-danger" th:if="${#fields.hasErrors('bio')}" th:errors="*{bio}"></small>
			    </div>
			    
			    <div class="form-group">
				    <label for="foto" class="font-weight-bold">Foto (url)</label>
				    <input type="text" class="form-control" id="foto" th:field="*{foto}">
				    <small class="form-text text-danger" th:if="${#fields.hasErrors('foto')}" th:errors="*{foto}"></small>
			    </div>

			    <div class="form-group">
					<label for="genero" class="font-weight-bold">Genero</label>
					<select name="genero" class="form-control" id="genero">
					    <option th:each="gender : ${generos}" th:value="${gender.nombre}" th:text="${gender.nombre}" th:selected="false"></option>
					</select>
				</div>
			
			    <input class="btn btn-success" type="submit" value="Enviar"/>
			    
			</form>
		</section>
		
  		
	</body>
</html>