<!DOCTYPE html>
<html lang="es">

	<head>
		<title>ALLMusic - Artista</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <!-- Icono -->
	    <link rel="icon" th:href="@{/img/icon.png}">
	
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
			
		<!-- Bootstrap jQuery, Popper.js, Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	    
	    <!-- CSS y JS -->
		<link rel="stylesheet" th:href="@{/css/estilo.css}" type="text/css"/>
	    <style>
	    	.background-image {
	    		position: absolute;
			  	left: 0;
			  	right: 0;
			  	z-index: -1;
			  	display: block;
			  	background-image: url('https://media.pitchfork.com/photos/5e6137c340430a0008960757/2:1/w_5294,h_2647,c_limit/Lil-Uzi-Vert.jpg');
	    		background-repeat: no-repeat;
  				background-size: cover;
  				filter: blur(10px);
  				width: 100%;
  				height: 400px;
	    	}
	    	
	    	.listaActivo {
	    		border-bottom: 2px solid grey;
	    	}
	    	
	    	.listaActivo:hover {
	    		color:white;
	    	}
	    	
	    </style>
	    <script>
	    	$(function() {
	    		
	    		$('#submit_button').attr('disabled', true);
	    		
	    		$("input").blur(function(){
	    			if( !$('#titulo').val() || !$('#fecha').val() || !$('#portada').val() ) {					//if it is blank. 
	    		    	$('#submit_button').attr('disabled', true);							// boton submit disabled
	    		    } else {
	    		    	$('#submit_button').attr('disabled', false);
	    		    }
	    		});
	    	});
	    	
	    	$(document).ready(function(){
	    		$('#albumes').show();
	    		$('#informacion').hide();
	    		$('#artistasRel').hide();
	    		$("a[href*='#listaAlbum']").addClass('listaActivo');
	    		
	    		$('#linkAlbumes').click(function(){
	    			$("a[href*='#']").removeClass('listaActivo');
	    			$("a[href*='#listaAlbum']").addClass('listaActivo');
	    			$('#albumes').show();
		    		$('#informacion').hide();
		    		$('#artistasRel').hide();
	    		});
	    		
	    		$('#linkInfo').click(function(){
	    			$("a[href*='#']").removeClass('listaActivo');
	    			$("a[href*='#listaInfo']").addClass('listaActivo');
	    			$('#albumes').hide();
		    		$('#informacion').show();
		    		$('#artistasRel').hide();
	    		});
	    		
	    		$('#linkArtistas').click(function(){
	    			$("a[href*='#']").removeClass('listaActivo');
	    			$("a[href*='#listaArtistasRelacionados']").addClass('listaActivo');
	    			$('#albumes').hide();
		    		$('#informacion').hide();
		    		$('#artistasRel').show();
	    		});
	    		
	    	});
	    </script>
	</head>

	<body>
		<!-- NAVEGADOR -->
		<nav th:replace="../fragments/nav.html :: nav"></nav>
		
		<div class="background-image"></div>
		
		<!-- SECTION -->
		<section class="container my-5">	
			
			<div id="contenido" class="row">
				<img class="col-3 rounded-circle" th:src="@{${artista.fotoPath}}" th:alt="${artista.nombre}" style="height:50%">
				<div class="col-9 mb-5">
					<div class="row">
						<h1 class="mb-5 col-6"><span th:text="${artista.nombre}"></span></h1>
					
						<div class="col-3" th:if="(${#authorization.expression('hasAuthority(''ADMIN'')')})">
							<a role="button" class="btn btn-info" th:href="@{/artista/editar/{artista}(artista=${artista.id})}">Editar artista</a>
						</div>
						<div class="col-3" th:if="(${#authorization.expression('hasAuthority(''ADMIN'')')})">
							<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#crearAlbum">Nuevo álbum</button>
						</div>
					</div>
					
					<hr style="border-color: grey;"/>
					<br><br>
					
					<div th:if="${ultimoLanzamiento != null}" class="row">
						<img class="col-2 " th:src="${ultimoLanzamiento.portada}" th:alt="${ultimoLanzamiento.titulo}">
						<div class="col-9">
							<p class="col-4">ÚLTIMO LANZAMIENTO</p>
							<p class="col-12 font-weight-bold" th:text="${ultimoLanzamiento.titulo}"></p>
							<p class="col-5" th:text="${ultimoLanzamiento.fecha_salida}"></p>
						</div>
						<div></div>
					</div>
					
				</div>
			</div>
			
			<br><br><br>
			
			<ul class="list-group list-group-horizontal">
				<li class="list-group-item border-0">
					<h3 id="linkAlbumes"><a href="#listaAlbum">Álbumes</a></h3>
				</li>
				<li class="list-group-item border-0">
					<h3 id="linkInfo"><a href="#listaInfo">Información</a></h3>
				</li>
				<li class="list-group-item border-0">
					<h3 id="linkArtistas"><a href="#listaArtistasRelacionados">Artistas relacionados</a></h3>
				</li>			
			</ul>
			<br>
			<br>
			
			<div id="albumes" class="row">
				<div class="card col-3 border-0" th:each="album : ${listaAlbumes}">
					<a th:href="@{/albumes/{album}(album=${album.id})}"><img class="card-img-top" th:src="${album.portada}" th:alt="${album.titulo}"></a>
				  	<div class="card-body">
				    	<h5 class="card-title"><a th:href="@{/albumes/{album}(album=${album.id})}"><span th:text="${album.titulo}"></span></a></h5>
				    	<p th:text="${album.fecha_salida}" class="card-text"></p>
				 	</div>
				</div>
			</div>
			
			<div id="informacion">
				<p><strong>Nombre: </strong><span th:text="${artista.nombre}"></span></p>
				<p><strong>Origen: </strong><span th:text="${artista.origen}"></span></p>
				<p><strong>Género: : </strong><span th:text="${artista.genero.nombre}"></span></p>
				<p><strong>Descripción: : </strong><span th:text="${artista.bio}"></span></p>
			</div>
			
			<div id="artistasRel" class="row">
				<div class="card col-2 border-0" th:each="artista : ${artistasRelacionados}">
					<a th:href="@{/artistas/{artista}(artista=${artista.id})}"><img class="card-img-top rounded-circle" th:src="${artista.fotoPath}" th:alt="${artista.nombre}"></a>
				  	<div class="card-body">
				    	<h5 class="card-title"><a th:href="@{/artistas/{artista}(artista=${artista.id})}"><span th:text="${artista.nombre}"></span></a></h5>
				 	</div>
				</div>
			</div>
					
			<a class="btn btn-primary mt-5" th:href="@{/artistas}" role="button">Volver</a>
		</section>
		
		<!-- Modal -->
		<div class="modal fade" id="crearAlbum" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content" style="background-color: #282828;">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Nuevo álbum</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white;">
							<span aria-hidden="true">x</span>
						</button>
					</div>
					<form action="#" th:action="@{/addAlbum}" th:object="${album}" method="post">
						<div class="modal-body">
							<div class="form-group">
								<label for="titulo">Título</label>
								<input type="text" th:field="*{titulo}" class="form-control" id="titulo">
							</div>
							
							<div class="form-group">
								<label for="fecha">Fecha salida</label>
								<input type="text" th:field="*{fecha_salida}" class="form-control" id="fecha">
							</div>
							
							<div class="form-group">
								<label for="portada">Portada</label>
								<input type="text" th:field="*{portada}" class="form-control" id="portada">
							</div>
							
							<div class="form-group" hidden>
								<label for="artista">Artista</label>
								<input type="text" th:value="${artista.id}" name="artista" id="artista"/>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary" id="submit_button">Guardar</button>
						  	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</body>
</html>
