<!DOCTYPE html>
<html lang="es">

	<head>
		<title>ALLMusic - Artista</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <!-- Icono -->
	    <link rel="icon" th:href="@{/img/icon.png}">
	
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
			
		<!-- Bootstrap jQuery, Popper.js, Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	    
	    <!-- CSS y JS -->
		<link rel="stylesheet" th:href="@{/css/estilo.css}" type="text/css"/>
	    <style>
	    	.background-image {
	    		position: absolute;
			  	left: 0;
			  	right: 0;
			  	z-index: -1;
			  	display: block;
	    		background-repeat: no-repeat;
  				background-size: cover;
  				width: 100%;
  				height: 480px;
				box-shadow: inset 0 -60px 50px #282828;
				 opacity:0.4;
	    	}
	    	
	    	#nombre {
	    		font-size: 50px;
	    	}
	    	
	    	.listaActivo {
	    		border-bottom: 2px solid grey;
	    	}
	    	
	    	.listaActivo:hover {
	    		color:white;
	    	}
	    	
			#ultimoLanzamiento{ 
				transition: all .1s ease-in-out;
			}
			
			#ultimoLanzamiento:hover { 
				transform: scale(0.97);
				opacity:0.7;
			}
			
			#ultimoLanzamiento a {
				color: white;
	    	}
	    	
	    	#descripcion {
	    		white-space: pre-wrap;
	    	}
	    </style>
	    <script>	
	    	$(document).ready(function(){
	    		// Cambia entre las distintas secciones
	    		$('#albumes').show();
	    		$('#informacion').hide();
	    		$('#artistasRel').hide();
	    		$("a[href*='#listaAlbum']").addClass('listaActivo');
	    		
	    		$('#linkAlbumes').click(function(){
	    			$("a[href*='#']").removeClass('listaActivo');
	    			$("a[href*='#listaAlbum']").addClass('listaActivo');
	    			$('#albumes').show();
		    		$('#informacion').hide();
		    		$('#artistasRel').hide();
	    		});
	    		
	    		$('#linkInfo').click(function(){
	    			$("a[href*='#']").removeClass('listaActivo');
	    			$("a[href*='#listaInfo']").addClass('listaActivo');
	    			$('#albumes').hide();
		    		$('#informacion').show();
		    		$('#artistasRel').hide();
	    		});
	    		
	    		$('#linkArtistas').click(function(){
	    			$("a[href*='#']").removeClass('listaActivo');
	    			$("a[href*='#listaArtistasRelacionados']").addClass('listaActivo');
	    			$('#albumes').hide();
		    		$('#informacion').hide();
		    		$('#artistasRel').show();
	    		});
	    		
	    	});
	    </script>
	</head>

	<body>
		<!-- NAVEGADOR -->
		<nav th:replace="../fragments/nav.html :: nav"></nav>
		
		<div class="background-image">
			<img id="foto-fondo" class="d-none" th:src="${artista.fotoFondoPath}">
		</div>
				
		<!-- SECTION -->
		<section class="container my-5">	
			
			<div id="contenido" class="row mb-md-4">
				<div class="col-lg-3 col-md-5 col-5">
					<div class="row">
						<img class="col-lg-12 col-md-12 col-12 rounded-circle" th:src="@{${artista.fotoPath}}" th:alt="${artista.nombre}" style="height:50%">
						<div class="col-lg-12 col-md-12 col-12" th:if="(${#authorization.expression('hasAuthority(''ADMIN'')')})">
							<a type="button" class=" badge badge-info" data-toggle="modal" data-target="#cambiarFoto">Cambiar foto</a>
						</div>
						<div class="col-lg-12 col-md-12 col-12" th:if="(${#authorization.expression('hasAuthority(''ADMIN'')')})">
							<a type="button" class=" badge badge-info" data-toggle="modal" data-target="#cambiarFotoFondo">Cambiar foto fondo</a>
						</div>
					</div>
				</div>
				<div class="col-lg-9 col-md-7 col-7 mb-5">
					<div class="row">
						<h1 id="nombre" class="mb-5 col-lg-6 col-md-12 col-12"><span th:text="${artista.nombre}"></span></h1>
					
						<div class="col-lg-3 col-md-6 col-12 mb-lg-0 mb-3" th:if="(${#authorization.expression('hasAuthority(''ADMIN'')')})">
							<a role="button" class="btn btn-info float-lg-right" th:href="@{/artista/editar/{artista}(artista=${artista.id})}">Editar artista</a>
						</div>
						<div class="col-lg-3 col-md-6 col-12" th:if="(${#authorization.expression('hasAuthority(''ADMIN'')')})">
							<button type="button" class="btn btn-secondary float-lg-right" data-toggle="modal" data-target="#nuevoAlbum">Nuevo álbum</button>
						</div>
					</div>
					
					<br><br>
					
					<div id="ultimoLanzamiento" >
						<div th:if="${ultimoLanzamiento != null}">
							<a th:href="@{/albumes/{album}(album=${ultimoLanzamiento.id})}">
								<div class="row">
									<img class="col-lg-2 col-md-4 col-6" th:src="@{${ultimoLanzamiento.portadaPath}}" th:alt="${ultimoLanzamiento.titulo}">
									<div class="col-lg-9 col-md-8 col-9">
										<small class="col-lg-7 col-12 mb-5">ÚLTIMO LANZAMIENTO</small>
										<p class="col-lg-12 col-12 font-weight-bold" th:text="${ultimoLanzamiento.titulo}"></p>
										<small class="col-lg-12 col-md-12 col-12" th:text="${ultimoLanzamiento.fecha_salida}"></small>
									</div>
								</div>
							</a>
						</div>
					</div>
					
				</div>
			</div>
			
			<ul class="list-group list-group-horizontal flex-column flex-sm-row">
				<li class="list-group-item border-0">
					<h3 id="linkAlbumes"><a href="#listaAlbum">Lanzamientos</a></h3>
				</li>
				<li class="list-group-item border-0">
					<h3 id="linkInfo"><a href="#listaInfo">Información</a></h3>
				</li>
				<li class="list-group-item border-0">
					<h3 id="linkArtistas"><a href="#listaArtistasRelacionados">Artistas relacionados</a></h3>
				</li>			
			</ul>
			<br>
			<br>
			
			<div id="albumes">
				<div class="row mb-5">
					<div class="col-12">
						<h3 class="col-12">Álbumes</h3>
						<hr style="border-color:white">
					</div>
					<div class="card col-lg-3 col-md-3 col-6 border-0" th:each="album : ${listaTipoAlbum}">
						<div>
							<a th:href="@{/albumes/{album}(album=${album.id})}"><img class="card-img-top" th:src="@{${album.portadaPath}}" th:alt="${album.titulo}"></a>
						  	<div class="card-body">
						    	<h5 class="card-title"><a th:href="@{/albumes/{album}(album=${album.id})}"><span th:text="${album.titulo}"></span></a></h5>
						    	<p th:text="${album.fecha_salida}" class="card-text"></p>
						 	</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-12">
						<h3 class="col-12">Sencillos y EP</h3>
						<hr style="border-color:white">
					</div>
					<div class="card col-lg-3 col-md-3 col-6 border-0" th:each="album : ${listaTipoSingle}">
						<div>
							<a th:href="@{/albumes/{album}(album=${album.id})}"><img class="card-img-top" th:src="@{${album.portadaPath}}" th:alt="${album.titulo}"></a>
						  	<div class="card-body">
						    	<h5 class="card-title"><a th:href="@{/albumes/{album}(album=${album.id})}"><span th:text="${album.titulo}"></span></a></h5>
						    	<p th:text="${album.fecha_salida}" class="card-text"></p>
						 	</div>
					 	</div>
					</div>
				</div>
			</div>
			
			<div id="informacion">
				<p><strong>Nombre: </strong><span th:text="${artista.nombre}"></span></p>
				<p><strong>Origen: </strong><span th:text="${artista.origen}"></span></p>
				<p><strong>Género: : </strong><span th:text="${artista.genero.nombre}"></span></p>
				<p id="descripcion" class="text-justify"><strong>Descripción: : </strong><span th:text="${artista.bio}"></span></p>
			</div>
			
			<div id="artistasRel" class="row">
				<div class="card col-lg-2 col-md-3 col-4 border-0" th:each="artista : ${listaExcludeArtista}">
					<a th:href="@{/artistas/{artista}(artista=${artista.id})}"><img class="card-img-top rounded-circle" th:src="${artista.fotoPath}" th:alt="${artista.nombre}"></a>
				  	<div class="card-body">
				    	<h5 class="card-title"><a th:href="@{/artistas/{artista}(artista=${artista.id})}"><span th:text="${artista.nombre}"></span></a></h5>
				 	</div>
				</div>
			</div>
					
			<a class="btn btn-primary mt-5" th:href="@{/artistas}" role="button">Volver</a>
		</section>
		
		<!-- Modal - NUEVO ALBUM -->
		<div class="modal fade" id="nuevoAlbum" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content" style="background-color: #282828;">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Nuevo álbum</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white;">
							<span aria-hidden="true">x</span>
						</button>
					</div>
					<form action="#" th:action="@{/addAlbum}" th:object="${album}" method="post" enctype="multipart/form-data">
						<div class="modal-body">
							<div class="form-group">
								<label for="titulo">Título</label>
								<input type="text" th:field="*{titulo}" class="form-control" id="titulo">
							</div>
							
							<div class="form-group">
								<label for="fecha">Fecha salida</label>
								<input type="text" th:field="*{fecha_salida}" class="form-control" id="fecha">
							</div>
							
							<div class="form-group">
								<label>Tipo de album</label>
								<div class="form-check">
						            <div th:each="enum : ${T(com.carlos.enums.TipoAlbumModel).values()}">
						                <div>
						                    <input type="radio" th:field="*{tipo_album}" th:value="${enum}" class="form-check-input">
						                    <label th:for="${enum}" class="form-check-label" th:text="${enum}"></label>
						                </div>
						            </div>
								</div>
							</div>
							
							<div class="form-group">
								<label for="portada">Portada</label>
								<input type="file" th:field="*{portada}" class="form-control-file" id="portada" accept="image/png, image/jpeg">
								<br>
								<img id="thumbnail" alt="Logo preview"/>
							</div>

							<div class="form-group" hidden>
								<label for="artista">Artista</label>
								<input type="text" th:value="${artista.id}" name="artista" id="artista"/>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary" id="submit_button">Guardar</button>
						  	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<!-- Modal - CAMBIAR FOTO -->
		<div class="modal fade" id="cambiarFoto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content" style="background-color: #282828;">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Cambiar foto</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white;">
							<span aria-hidden="true">x</span>
						</button>
					</div>
					<form action="#" th:action="@{/updateArtistaFoto}" th:object="${artista}" method="post" enctype="multipart/form-data">
						<div class="modal-body">
							<div class="form-group">
								<label for="foto">Foto</label>
								<input type="file" th:field="*{foto}" class="form-control-file" id="foto" accept="image/png, image/jpeg">
								<small>Foto actual:</small>
							</div>
							<div class="form-group d-none">
								<label for="id">Id</label>
								<input type="text" th:field="*{id}" class="form-control" id="id">
							</div>
							<div class="form-group d-none">
								<label for="nombre">Nombre</label>
								<input type="text" th:field="*{nombre}" class="form-control" id="nombre">
							</div>
							<div class="form-group d-none">
								<label for="origen">Origen</label>
								<input type="text" th:field="*{origen}" class="form-control" id="origen">
							</div>
							<div class="form-group d-none">
							    <label for="bio" class="font-weight-bold">Biografía</label>
							    <textarea class="form-control" rows="6" id="bio" th:field="*{bio}"></textarea>
						    </div>
							<div class="form-group d-none">
								<label for="genero">Género</label>
								<input type="text" th:field="*{genero}" class="form-control" id="genero">
							</div>
							<img id="fotoThumbnail" class="rounded-circle" alt="Vista previa foto" th:src="*{fotoPath}" width="300"/>
							
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary" id="submit_button">Guardar</button>
						  	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<!-- Modal - CAMBIAR FOTO FONDO -->
		<div class="modal fade" id="cambiarFotoFondo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content" style="background-color: #282828;">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Cambiar foto de fondo</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white;">
							<span aria-hidden="true">x</span>
						</button>
					</div>
					<form action="#" th:action="@{/updateArtistaFotoFondo}" th:object="${artista}" method="post" enctype="multipart/form-data">
						<div class="modal-body">
							<div class="form-group">
								<label for="foto_fondo">Foto fondo</label>
								<input type="file" th:field="*{foto_fondo}" class="form-control-file" id="foto_fondo" accept="image/png, image/jpeg">
								<small>Foto actual:</small>
							</div>
							<div class="form-group d-none">
								<label for="id">Id</label>
								<input type="text" th:field="*{id}" class="form-control" id="id">
							</div>
							<div class="form-group d-none">
								<label for="nombre">Nombre</label>
								<input type="text" th:field="*{nombre}" class="form-control" id="nombre">
							</div>
							<div class="form-group d-none">
								<label for="origen">Origen</label>
								<input type="text" th:field="*{origen}" class="form-control" id="origen">
							</div>
							<div class="form-group d-none">
							    <label for="bio" class="font-weight-bold">Biografía</label>
							    <textarea class="form-control" rows="6" id="bio" th:field="*{bio}"></textarea>
						    </div>
							<div class="form-group d-none">
								<label for="foto">Foto</label>
								<input type="text" th:field="*{foto}" class="form-control-file" id="foto" accept="image/png, image/jpeg">
							</div>
							<div class="form-group d-none">
								<label for="genero">Género</label>
								<input type="text" th:field="*{genero}" class="form-control" id="genero">
							</div>
							<img id="fotoFondoThumbnail" alt="Vista previa foto de fondo" th:src="*{fotoFondoPath}" width="300"/>
							
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary" id="submit_button">Guardar</button>
						  	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<script>
			$(document).ready(function(){
				$('#thumbnail').hide();
				// Muestra vista previa de foto en el formulario
				$('#portada').change(function() {
					showImageThumbnail(this);
				});
				
				$('#foto').change(function() {
					showImageThumbnail2(this);
				});
				
				$('#foto_fondo').change(function() {
					showImageThumbnail3(this);
				});
				
				fondo=$("#foto-fondo").attr('src');
				
				$(".background-image").css("background-image", "url('"+fondo+"')");
				
			})
			
			function showImageThumbnail(fileInput) {
				file = fileInput.files[0];
				reader = new FileReader();
				
				reader.onload = function(e) {
					
					$('#thumbnail').show()
					$('#thumbnail').attr('src', e.target.result);
					$('#thumbnail').attr('width', 200);
				};
				
				reader.readAsDataURL(file);
			};
			
			function showImageThumbnail2(fileInput) {
				file = fileInput.files[0];
				reader = new FileReader();
				
				reader.onload = function(e) {
					$('#fotoThumbnail').attr('src', e.target.result);
					$('#fotoThumbnail').attr('width', 200);
				};
				
				reader.readAsDataURL(file);
			};
			
			function showImageThumbnail3(fileInput) {
				file = fileInput.files[0];
				reader = new FileReader();
				
				reader.onload = function(e) {
					$('#fotoFondoThumbnail').attr('src', e.target.result);
					$('#fotoFondoThumbnail').attr('width', 200);
				};
				
				reader.readAsDataURL(file);
			};
			
			// Funcion que desactiva el boton hasta que los inputs esten rellenos
	    	$(function() {
	    		
	    		$('#submit_button').attr('disabled', true);
	    		
	    		$("input").blur(function(){
	    			if( !$('#titulo').val() || !$('#fecha').val() || !$('#portada').val() ) {					//if it is blank. 
	    		    	$('#submit_button').attr('disabled', true);							// boton submit disabled
	    		    } else {
	    		    	$('#submit_button').attr('disabled', false);
	    		    }
	    		});
	    	});
			
	    	$("#portada").blur(function(){	
    			if ( !$("#portada").val() ) 
    				$('#thumbnail').hide();
    		});
		</script>
	</body>
</html>
