<!DOCTYPE html>
<html lang="es">

	<head>
		<title>ALLMusic - Nuevo Artista</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <!-- Icono -->
	    <link rel="icon" th:href="@{/img/icon.png}">
			
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
			
		<!-- Bootstrap jQuery, Popper.js, Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	
		<!-- CSS y JS -->
		<link rel="stylesheet" th:href="@{/css/estilo.css}" type="text/css"/>
	</head>

	<body>
		<!-- NAVEGADOR -->
		<nav th:replace="../fragments/nav.html :: nav"></nav>
	
		<!-- SECTION -->
		<section class="container">
			<h1>NUEVO ARTISTA</h1>
			<form th:action="@{/addArtista}" th:object="${artista}" method="post" enctype="multipart/form-data">
			
				<div class="form-group">
				    <label for="nombre" class="font-weight-bold">Nombre</label>
				    <input type="text" class="form-control" id="nombre" th:field="*{nombre}">
				    <small class="form-text text-danger" id="errorNombre"></small>
			    </div>
			    
				<div class="form-group">
				    <label for="origen" class="font-weight-bold">Origen</label>
				    <input type="text" class="form-control" id="origen" th:field="*{origen}">
				    <small class="form-text text-danger" id="errorOrigen"></small>
			    </div>
			    
			    <div class="form-group">
				    <label for="bio" class="font-weight-bold">Biografía</label>
				    <textarea class="form-control" rows="6" id="bio" th:field="*{bio}"></textarea>
				    <small class="form-text text-danger" id="errorBio"></small>
			    </div>
			    
			    <div class="form-group">
				    <label for="foto" class="font-weight-bold">Foto</label>
				    <input type="file" class="form-control-file" name="foto" id="foto" th:field="*{foto}" accept="image/png, image/jpeg">
				    <br>
				    <img id="thumbnail" alt="Logo preview"/>
				    <small class="form-text text-danger" id="errorFoto"></small>
			    </div>

			    <div class="form-group">
					<label for="genero" class="font-weight-bold">Género</label>
					<select name="genero" class="form-control" id="genero">
					    <option th:each="gender : ${generos}" th:value="${gender.nombre}" th:text="${gender.nombre}" th:selected="false"></option>
					</select>
				</div>
			
			    <input id="submit_button" class="btn btn-success" type="submit" value="Enviar"/>
			    <a class="btn btn-danger ml-3" th:href="@{/artistas}">Volver</a>
			   
			</form>
		</section>
		
		<script type="text/javascript">
			$(document).ready(function(){
				$('#thumbnail').hide();
				
				$('#foto').change(function() {
					showImageThumbnail(this);
				});
			});
			
			function showImageThumbnail(fileInput) {
				file = fileInput.files[0];
				reader = new FileReader();
				
				reader.onload = function(e) {
					$('#thumbnail').show();
					$('#thumbnail').attr('src', e.target.result);
					$('#thumbnail').attr('width', 500);
				};
				
				reader.readAsDataURL(file);
			};
			
			$(function() {
				$('#submit_button').attr('disabled', true);
				$('#errorBio').hide();
				$('#errorNombre').hide();
				$('#errorOrigen').hide();
				$('#errorFoto').hide();
	    		
	    		$("input, textarea").blur(function(){
	    			if ( !$("#nombre").val() || !$("#origen").val() || $("#bio").val().length<20 || !$("#foto").val() ) {		//if it is blank. 
	    		    	$('#submit_button').attr('disabled', true);
	    		    } else {
	    		    	$('#submit_button').attr('disabled', false);
	    		    }
	    		});
	    			
	    		
	    		// Validaciones para los campos del formulario desde la vista.
	    		$("#nombre").blur(function(){	
	    			if ( !$("#nombre").val().length ) {
	    				error="El nombre no puede estar vacio.";
	    				$("#errorNombre").show();
	    				$("#errorNombre").text(error);
	    				
	    		
	    			}else {
	    				$("#errorNombre").hide();
	    			}
	    		});
	    		$("#origen").blur(function(){	
	    			if ( $("#origen").val().length<2 ) {
	    				error="El origen no puede ser menor que 2 caracteres.";
	    				$("#errorOrigen").show();
	    				$("#errorOrigen").text(error);
	    				
	    			}else {
	    				$("#errorNombre").hide();
	    			}
	    		});
	    		$("#bio").blur(function(){	
	    			if ( $("#bio").val().length<20 ) {
	    				error="La biografía no puede ser menor que 20.";
	    				$("#errorBio").show();
	    				$("#errorBio").text(error);
	    				
	    			}else {
	    				$("#errorBio").hide();
	    			}
	    		});
	    		$("#foto").blur(function(){	
	    			if ( !$("#foto").val() ) {
	    				error="La foto no puede estar vacía.";
	    				$("#errorFoto").show();
	    				$("#errorFoto").text(error);
	    				$('#thumbnail').hide();
	    			}else {
	    				$("#errorFoto").hide();
	    			}
	    		});
	    		
			});
		</script>
		
	</body>
</html>
