<!DOCTYPE html>
<html lang="es">

	<head>
		<title>ALLMusic - Nuevo Artista</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
		<div th:replace="../fragments/head.html :: head" th:remove="tag"/>
	</head>

	<body>
		<!-- NAVEGADOR -->
		<nav th:replace="../fragments/nav.html :: nav"></nav>
	
		<!-- SECTION -->
		<section class="container my-5">
			<h1>NUEVO ARTISTA</h1>
			<form th:action="@{/addArtista}" th:object="${artista}" method="post" enctype="multipart/form-data">
			
				<div class="row">
					<div class="form-group col-6">
					    <label for="nombre" class="font-weight-bold">Nombre</label>
					    <input type="text" class="form-control" id="nombre" th:field="*{nombre}" placeholder="Nombre">
					    <small class="form-text text-danger" id="errorNombre"></small>
				    </div>
				    
					<div class="form-group col-6">
					    <label for="origen" class="font-weight-bold">Origen</label>
					    <input type="text" class="form-control" id="origen" th:field="*{origen}" placeholder="Origen">
					    <small class="form-text text-danger" id="errorOrigen"></small>
				    </div>
			    
				    <div class="form-group col-12">
					    <label for="bio" class="font-weight-bold">Biografía</label>
					    <textarea class="form-control" rows="6" id="bio" th:field="*{bio}" placeholder="Biografia"></textarea>
					    <small class="form-text text-danger" id="errorBio"></small>
				    </div>
				    
				    <div class="form-group col-6">
					    <label for="foto" class="font-weight-bold">Foto</label>
					    <input type="file" class="form-control-file" name="foto" id="foto" th:field="*{foto}" accept="image/png, image/jpeg, image/svg+xml">
					    <br>
					    <img id="thumbnail" alt="Logo preview"/>
					    <small class="form-text text-danger" id="errorFoto"></small>
				    </div>
				    <div class="form-group col-6">
						<label for="genero" class="font-weight-bold">Género</label>
						<select name="genero" class="form-control" id="genero">
						    <option th:each="gender : ${generos}" th:value="${gender.nombre}" th:text="${gender.nombre}" th:selected="false"></option>
						</select>
					</div>
				</div>
			    <input id="submit_button" class="btn btn-success" type="submit" value="Enviar"/>
			    <a class="btn btn-danger ml-3" th:href="@{/artistas}">Volver</a>
			   
			</form>
		</section>
		
		<!-- FOOTER -->
		<footer th:replace="../fragments/footer.html :: footer"></footer>
		
		<script type="text/javascript">
			$(document).ready(function(){
				$('#thumbnail').hide();
				
				$('#foto').change(function() {
					showImageThumbnail(this);
				});
			});
			
			function showImageThumbnail(fileInput) {
				file = fileInput.files[0];
				reader = new FileReader();
				
				reader.onload = function(e) {
					$('#thumbnail').show();
					$('#thumbnail').attr('src', e.target.result);
					$('#thumbnail').attr('width', 500);
				};
				
				reader.readAsDataURL(file);
			};
			
			$(function() {
				$('#submit_button').attr('disabled', true);
				$('#errorBio').hide();
				$('#errorNombre').hide();
				$('#errorOrigen').hide();
				$('#errorFoto').hide();
	    		
	    		$("input, textarea").blur(function(){
	    			if ( !$("#nombre").val() || $("#origen").val().length<2 || $("#bio").val().length<20 || !$("#foto").val() ) {
	    		    	$('#submit_button').attr('disabled', true);
	    		    } else {
	    		    	$('#submit_button').attr('disabled', false);
	    		    }
	    		});
	    			
	    		
	    		// Validaciones para los campos del formulario desde la vista.
	    		$("#nombre").keyup(function(){	
	    			if ( !$("#nombre").val().length ) {
	    				error="El nombre no puede estar vacio.";
	    				$("#errorNombre").show();
	    				$("#errorNombre").text(error);
	    				
	    		
	    			}else {
	    				$("#errorNombre").hide();
	    			}
	    		});
	    		$("#origen").keyup(function(){	
	    			if ( $("#origen").val().length<2 ) {
	    				error="El origen no puede ser menor que 2 caracteres.";
	    				$("#errorOrigen").show();
	    				$("#errorOrigen").text(error);
	    				
	    			}else {
	    				$("#errorOrigen").hide();
	    			}
	    		});
	    		$("#bio").keyup(function(){
					$("#errorBio").text("Minimo 20 caracteres: " + (20 - $(this).val().length) + "/20");
	    			if ( $("#bio").val().length<20 ) {
	    				$("#errorBio").show();
	    				
	    			}else {
	    				$("#errorBio").hide();
	    			}
	    		});
	    		$("#foto").blur(function(){	
	    			if ( !$("#foto").val() ) {
	    				error="La foto no puede estar vacía.";
	    				$("#errorFoto").show();
	    				$("#errorFoto").text(error);
	    				$('#thumbnail').hide();
	    			}else {
	    				$("#errorFoto").hide();
	    			}
	    		});
	    		
			});
		</script>
		
	</body>
</html>
