<footer class="text-center">
	<hr style="border-color: grey; width: 90%">
	<p>Copyright <small>&#169;</small> 2020 ALLMusic &middot; Todos los derechos reservados</p>
	<ul class="list-inline">
		<li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
		<li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
		<li class="list-inline-item"><a target="_blank" href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>
	</ul>
</footer>