body {
	background-color: #282828 !important;
	color: white !important
}

.navbar-dark {
	background-color: #121212 !important;
}

td, th {
	color: white !important;
}

.list-group-item {
	background-color: #282828 !important;
	border-bottom: 1px solid #46474a !important;
}

.card{
	width: 18rem !important; 
	background-color: #282828 !important;
}

.page-item.active .page-link {
	color: white !important;
	background-color: #007BFF	 !important;
	border-color: #282828 !important;
}


.page-link {
	color: white !important;
	background-color: #282828	 !important;
	border: 1px solid #282828 !important;
 }

.page-link:hover {
	color: white !important;
	background-color: #007BFF !important;
	border-color: #282828 !important;
}
