@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

html * {
   font-family: 'Asap', sans-serif;
}

body {
	background-color: #282828 !important;
	color: white !important
}

.navbar-dark {
	background-color: #121212 !important;
}

a {
	color: white;
}

a:hover {
	color: grey;
	text-decoration: initial;
}

.list-group-item {
	background-color: transparent !important;
}

/* CARD */
.card{
	width: 18rem !important; 
	background-color: #282828 !important;
}

.card-footer {
	background-color: transparent;	
}
/* CARD */

/* PAGINACION */
.page-item.active .page-link {
	color: white !important;
	background-color: #007BFF	 !important;
	border-color: #282828 !important;
}


.page-link {
	color: white !important;
	background-color: #282828	 !important;
	border: 1px solid #282828 !important;
 }

.page-link:hover {
	color: white !important;
	background-color: #007BFF !important;
	border-color: #282828 !important;
}
/* PAGINACION */

input[type='text'], input[type='number'], input[type='password'], textarea, select {
	background-color: transparent !important;
  	color: white !important;
  	border: none !important;
  	border-bottom: 1px solid white !important;
  	border-right: 1px solid white !important;
	border-radius: 0 !important;
}

option{
	background-color: #282828;
}

			
.red-icon{
	color: #dc3545;
}

.red-icon:hover {
	color: #a71d2a;
}

#boton-calendario {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
