body {
	background-color: #282828 !important;
	color: white !important
}

nav{
	background-color: #121212 !important;
}

td, th {
	color: white !important;
}

.list-group-item {
	background-color: #282828 !important;
	border-bottom: 1px solid #46474a !important;
}

.card{
	width: 18rem !important; 
	background-color: #282828 !important;
}
