<!DOCTYPE html>
<html lang="es">

	<head>
		<title>ALLMusic - Nuevo Artista</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <!-- Icono -->
	    <link rel="icon" th:href="@{/img/icon.png}">
	
		<!-- CSS -->
		<link rel="stylesheet" th:href="@{/css/estilo.css}" type="text/css"/>
			
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
			
		<!-- Bootstrap jQuery, Popper.js, Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark">
			<a class="navbar-brand" th:href="@{/}"><img th:src="@{/img/logo.png}" width="210"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		    </button>
		    
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		      	<ul class="navbar-nav mr-auto">
		        	<li class="nav-item active">
		        		<a class="nav-link" th:href="@{/}">Inicio <span class="sr-only">(current)</span></a>
		          	</li>
		          	<li class="nav-item">
		           		<a class="nav-link" th:href="@{/artistas}">Artistas</a>
		          	</li>
		          	<li class="nav-item">
		            	<a class="nav-link" href="#">Disabled</a>
		          	</li>
		        </ul>
		        
		        <div class="text-white" sec:authorize="isAnonymous()">
				    <a type="button" class="btn btn-light" th:href="@{/login}">Login</a>
				    <a type="button" class="btn btn-light" th:href="@{/registrarse}">Registrarse</a>
				</div>
		    	
		    	<div class="text-white" sec:authorize="isAuthenticated()">
		    		<a type="button" class="btn btn-info" th:href="@{/usuarios/{usuario}(usuario=${usuario.nombreUsuario})}"><span sec:authentication="name">USUARIO</span></a>
				    <!--  User: <span sec:authentication="name">miquel</span> -->
				    <a type="button" class="btn btn-danger" th:href="@{/logout}">Logout</a>
				</div>
			</div>
		</nav>
	
		<!-- Section -->
		<section class="container">
			<h1>Añadir cancion a playlist del usuario <span sec:authentication="name">miquel</span></h1>
			<form action="#" th:action="@{/addCancionPlaylist}" th:object="${pc}" method="post">
			
				<div class="form-group">
					<label for="playlist">Playlist</label>
					<ul class="list-group list-group-flush">
						<li th:each="playlists: ${listaPlaylists}" class="list-group-item">
							<input 
								type="radio" 
								name="playlist" 
								th:text="${playlists.nombre}"
								th:field="*{playlist}"
								th:value="${playlists.id}"
							/>
						</li>
					</ul>					      
				</div>
			    
			    <div class="form-group" hidden>
					<label for="cancion">Artista</label>
					<input type="text" th:value="${cancion.id}" name="cancion" id="cancion"/>
				</div>

			    <input class="btn btn-success" type="submit" value="Enviar"/>
			   
			</form>
		</section>
	</body>
