<!DOCTYPE html>
<html lang="es">
	
	<head>
		<title>ALLMusic - Editar usuario</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <div th:replace="../fragments/head.html :: head" th:remove="tag"/>
	</head>

	<body>
		<!-- NAVEGADOR -->
		<nav th:replace="../fragments/nav.html :: nav"></nav>
		
		<!-- SECTION -->
		<section class="container my-5">
			<h1>Editar usuario</h1>
		
			<form action="#" th:action="@{/updateUsuario}" th:object="${usuario}" method="post">
			
			  	<div class="form-group d-none">
				    <label for="nombreUsuario" class="font-weight-bold">Nombre usuario</label>
				    <input type="text" class="form-control-plaintext" id="nombreUsuario" th:field="*{nombreUsuario}" readonly>
			    </div>
			    
			    <div class="form-group d-none">
				    <label for="contrasena" class="font-weight-bold">Contraseña</label>
				    <input type="hidden" class="form-control" id="contrasena" th:field="*{contrasena}">
			    </div>
			    
			    <div class="form-group">
				    <label for="nombre" class="font-weight-bold">Nombre: </label>
					<input type="text" class="form-control" id="nombre" th:field="*{nombre}">
					<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
			    </div>
			    
			    <div class="form-group">
				    <label for="apellidos" class="font-weight-bold">Apellidos: </label>
					<input type="text" class="form-control" id="apellidos" th:field="*{apellidos}">
					<small class="form-text text-danger" th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}"></small>
			    </div>
			    
			    <div class="form-group">
				    <label for="email" class="font-weight-bold">Email: </label>
					<input type="text" class="form-control" id="email" th:field="*{email}">
					<small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
			    </div>

			    <input class="btn btn-success" type="submit" value="Enviar" />
			    <a class="btn btn-danger" th:href="@{/usuarios}" role="button">Volver</a>
			</form>
			
		</section>
		
		<!-- FOOTER -->
		<footer th:replace="../fragments/footer.html :: footer"></footer>
		
	</body>
</html>
