<!DOCTYPE html>
<html lang="es">

	<head>
		<title>ALLMusic - Usuario</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	   	<div th:replace="../fragments/head.html :: head" th:remove="tag"/>
	   
		<style>
			.list-group-item {
				border-bottom: 1px solid #46474a !important;
			}
		</style>
	</head>

	<body>
		<!-- NAVEGADOR -->
		<nav th:replace="../fragments/nav.html :: nav"></nav>
		
		<!-- SECTION -->
		<section class="container my-5">
			<div class="row">
				<h1 class="col-10">Usuario <span th:text="${usuario.nombreUsuario}"></span></h1>
				<div class="col-2">
					<a type="button" class="btn btn-primary float-right" th:href="@{/usuarios/editar/{usuario}(usuario=${usuario.nombreUsuario})}"><i class="fas fa-edit"></i></a>
				</div>
			</div>
			
			<div class="row">
			
				<!-- SI ARTISTA_PREFERIDO ES NULL -->
				<ul class="list-group list-group-flush col-12" th:if="${artista_preferido == null}">
					<li class="list-group-item"><b>Nombre: </b><span th:text="${usuario.nombre}"></span></li>
					<li class="list-group-item"><b>Apellidos: </b><span th:text="${usuario.apellidos}"></span></li>
					<li class="list-group-item"><b>Rol: </b><span th:text="${usuario.rol.nombre}"></span></li>
					<li class="list-group-item" th:if="${genero_preferido != null}"><b>Género preferido: </b><span th:text="${genero_preferido}"></span></li>
				</ul>
				
				<!-- SI ARTISTA_PREFERIDO NO ES NULL -->
				<ul class="list-group list-group-flush col-lg-9 col-12" th:if="${artista_preferido != null}">
					<li class="list-group-item"><b>Nombre: </b><span th:text="${usuario.nombre}"></span></li>
					<li class="list-group-item"><b>Apellidos: </b><span th:text="${usuario.apellidos}"></span></li>
					<li class="list-group-item"><b>Rol: </b><span th:text="${usuario.rol.nombre}"></span></li>
					<li class="list-group-item" th:if="${genero_preferido != null}"><b>Género preferido: </b><span th:text="${genero_preferido}"></span></li>
				</ul>

				<!-- ARTISTA PREFERIDO -->
				<div class="col-lg-3 col-5">
					<p class="mt-3">ARTISTA PREFERIDO</p>
					<div class="card border-0 img-wrap" th:if="${artista_preferido != null}">
						
						<a th:href="@{/artistas/{artista}(artista=${artista_preferido.id})}" class=" "><img class="card-img-top w-lg-25 w-100" th:src="@{${artista_preferido.fotoPath}}" th:alt="${artista_preferido.nombre}"></a>
					  	<div class="card-body">
					    	<h5 class="card-title"><a th:href="@{/artistas/{artista}(artista=${artista_preferido.id})}"><span th:text="${artista_preferido.nombre}"></span></a></h5>
					 	</div>
					</div>
				</div>
				
			</div>
			<br><br>
			
			<!-- LISTA PLAYLISTS -->
			<div class="row">
				<h2 class="col-10">Lista de playlists</h2>
				<div class="col-2" sec:authorize="isAuthenticated()">
					<a type="button" class="btn btn-success float-right" th:href="@{/nuevaPlaylist}">Crear playlist</a>
				</div>
				
				<div th:switch="${#lists.isEmpty(listaPlaylists)}" th:remove="tag">
					<div th:case="true" th:remove="tag">
						<p class="col-12">No tienes playlists creadas. ¡A qué esperas!</p>
					</div>
				
					<div th:case="false" class="col-12">
						<ul class="list-group list-group-flush">
							<li th:each="playlist : ${listaPlaylists}" class="list-group-item"><a th:href="@{/playlists/{id}(id=${playlist.id})}" th:text="${playlist.nombre}"></a></li>
						</ul>
					</div>
				</div>
			</div>
			
		</section>
		
		<!-- FOOTER -->
		<footer th:replace="../fragments/footer.html :: footer"></footer>
		
	</body>
</html>
