<!DOCTYPE html>
<html lang="es">

	<head>
		<title>ALLMusic - Playlist - <span th:text="${playlist.nombre}" th:remove="tag"></span></title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <div th:replace="../fragments/head.html :: head" th:remove="tag"/>
	    
	    <style>
	    	table {
				table-layout: fixed;
				width: 100%;
			}
			
	    	thead, td, tfoot {
				color: white;
			}
	    </style>
	</head>

	<body>
	    <!-- NAVEGADOR -->
		<nav th:replace="../fragments/nav.html :: nav"></nav>
		
		<!-- SECTION -->
		<section class="container my-5">
			<div class="row">
				<h1 th:text="${playlist.nombre}" class="col-10"></h1>
				<div class="col-2">
					<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#borrarPlaylist"><i class="far fa-trash-alt"></i></button>
				</div>
			</div>
			<small><span th:text="${numero_canciones}"></span> cancion/es</small>
				
			<table class="table table-hover ">
				<thead>
					<tr>
						<th style="width: 44%">Título</th>
						<th style="width: 20%">Artista</th>
						<th style="width: 20%" class="d-lg-table-cell d-md-table-cell d-none">Álbum</th>
						<th style="width: 8%" class="d-lg-table-cell d-md-table-cell d-none">Duración</th>
						<th style="width: 8%" th:if="${owner} == ${usuario.nombreUsuario}" class="text-danger text-right">X</th>
					</tr>
				<thead>
				<tbody>
					<tr th:each="pc : ${lista}">
						<td th:text="${pc.cancion.titulo}" class="text-truncate text-white">titulo</td>
						<td class="text-truncate"><a th:href="@{/artistas/{artista}(artista=${pc.cancion.album.artista.id})}" th:text="${pc.cancion.album.artista.nombre}" ></a></td>
						<td class="d-lg-table-cell d-md-table-cell d-none text-truncate"><a th:href="@{/albumes/{album}(album=${pc.cancion.album.id})}" th:text="${pc.cancion.album.titulo}"></a></td>
						<td th:text="${pc.cancion.duracion}" class="d-lg-table-cell d-md-table-cell d-none">duracion</td>
						<td th:if="${owner} == ${usuario.nombreUsuario}" class="text-right"><a th:href="@{/playlists/borrar/cancion/{pc}(pc=${pc.id})}" class="text-danger">X</a></td>
					</tr>
				</tbody>
			</table>
		</section>
		
		<!-- FOOTER -->
		<footer th:replace="../fragments/footer.html :: footer"></footer>
		
		<!-- Modal - BORRAR ARTISTA -->
		<div class="modal fade" id="borrarPlaylist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content" style="background-color: #282828;">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">¿Seguro que quieres borrar la playlist '<span th:text="${playlist.nombre}" th:remove="tag"></span>'?</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white;">
							<span aria-hidden="true">x</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Si borras el artista, también se borrarán sus respectivos álbumes y canciones. ¡No hay vuelta atras!</p>
					</div>
					<div class="modal-footer">
						<a type="button" class="btn btn-danger" th:href="@{/playlists/borrar/{playlist}(playlist=${playlist.id})}">BORRAR</a>
					  	<button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
					</div>
				</div>
			</div>
		</div>
		
	</body>
</html>
