<!DOCTYPE html>
<html lang="es">

	<head>
		<title>ALLMusic - Playlist - <span th:text="${playlist.nombre}" th:remove="tag"></span></title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <div th:replace="../fragments/head.html :: head" th:remove="tag"/>
	    
	    <style>
	    	table {
				table-layout: fixed;
				width: 100%;
			}
			
	    	thead, td, tfoot {
				color: white;
			}
	    </style>
	</head>

	<body>
	    <!-- NAVEGADOR -->
		<nav th:replace="../fragments/nav.html :: nav"></nav>
		
		<!-- SECTION -->
		<section class="container my-5">
			
			<h1 th:text="${playlist.nombre}"> </h1>
			<small><span th:text="${numero_canciones}"></span> cancion/es</small>
				
			<table class="table table-hover ">
				<thead>
					<tr>
						<th style="width: 44%">Título</th>
						<th style="width: 20%">Artista</th>
						<th style="width: 20%" class="d-lg-table-cell d-md-table-cell d-none">Álbum</th>
						<th style="width: 8%" class="d-lg-table-cell d-md-table-cell d-none">Duración</th>
						<th style="width: 8%" th:if="${owner} == ${usuario.nombreUsuario}" class="text-danger text-right">X</th>
					</tr>
				<thead>
				<tbody>
					<tr th:each="lista : ${lista}">
						<td th:text="${lista.cancion.titulo}" class="text-truncate text-white">titulo</td>
						<td class="text-truncate"><a th:href="@{/artistas/{artista}(artista=${lista.cancion.album.artista.id})}" th:text="${lista.cancion.album.artista.nombre}" ></a></td>
						<td class="d-lg-table-cell d-md-table-cell d-none text-truncate"><a th:href="@{/albumes/{album}(album=${lista.cancion.album.id})}" th:text="${lista.cancion.album.titulo}"></a></td>
						<td th:text="${lista.cancion.duracion}" class="d-lg-table-cell d-md-table-cell d-none">duracion</td>
						<td th:if="${owner} == ${usuario.nombreUsuario}" class="text-right"><a th:href="@{/quitarCancionPlaylist/{pc}(pc=${lista.id})}" class="text-danger">X</a></td>
					</tr>
				</tbody>
			</table>
		</section>
		
		<!-- FOOTER -->
		<footer th:replace="../fragments/footer.html :: footer"></footer>
		
	</body>
</html>
