<!DOCTYPE html>
<html lang="es">

	<head>
		<title>AllMusic - Nueva Playlist</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <!-- Icono -->
	    <link rel="icon" th:href="@{/img/icon.png}">
			
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
			
		<!-- Bootstrap jQuery, Popper.js, Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		
		<!-- ICONOS FONT AWESOME -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css" integrity="sha512-f73UKwzP1Oia45eqHpHwzJtFLpvULbhVpEJfaWczo/ZCV5NWSnK4vLDnjTaMps28ocZ05RbI83k2RlQH92zy7A==" crossorigin="anonymous" />
		
		<!-- CSS y JS -->
		<link rel="stylesheet" th:href="@{/css/estilo.css}" type="text/css"/>
	</head>

	<body>
		<!-- NAVEGADOR -->
		<nav th:replace="../fragments/nav.html :: nav"></nav>
		
		<!-- SECTION -->
		<section class="container my-5">
			<h1>NUEVA PLAYLIST</h1>
			
			<form action="#" th:action="@{/addPlaylist}" th:object="${playlist}" name="nuevaPlaylist" method="post">
				<div class="form-group">
			    	<label for="nombre" class="font-weight-bold">Nombre</label>
			    	<input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}" placeholder="Nombre playlist" autofocus>
			    	<!-- <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small> -->
			   	</div>
			   	
			   	<div class="form-group d-none">
			    	<label for="usuario" class="font-weight-bold">Usuario</label>
			    	<input type="text" class="form-control" th:name="usuario" th:id="usuario" th:value="${usuario.nombreUsuario}">
			    	<!-- <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small> -->
			   	</div>
			   	
			    <input type="submit" value="Crear" class="btn btn-success">	
			</form>
			
		</section>
		
		<!-- FOOTER -->
		<footer th:replace="../fragments/footer.html :: footer"></footer>
		
	</body>
</html>
